.container {
    >h2 {
        font-size: 20px;

        >span {
            margin: 0 5px;
        }
    }
}

.desc {
    font-size: var(--font-size-base);
    color: var(--font-color-light);
    text-indent: 5px;
}